<template>
  <div id="app">
    <div class="max-w-screen-xl mx-auto relative" v-on:mouseenter="controls = true" v-on:mouseleave="controls = false">
      <video id="video" class="w-full" preload="auto" ref="video" v-on:loadedmetadata="duration" v-on:progress="buffer" v-on:timeupdate="progress">
        <source src="./assets/video/video.mp4" type="video/mp4">
        <source src="./assets/video/video.ogg" type="video/ogg">
        <track label="English" kind="subtitles" :src="`${publicPath}video/captions.vtt`" srclang="en" ref="track" v-on:cuechange="updateTranscript" v-on:load="loadTranscript">
      </video>
      <div class="absolute block bottom-0 mb-4 w-full">
        <div class="bg-gray-700 h-2 mx-auto w-11/12" ref="bar" v-on:click="seek">
          <span class="block bg-gray-300 h-2 w-0" v-bind:style="`width: ${bufferWidth}%`"></span>
          <span class="block bg-orange-600 h-2 -mt-2 w-0" v-bind:style="'width: ' + progressWidth + '%'"></span>
        </div>
        <div v-show="controls" class="flex justify-between mt-3 mx-auto relative text-gray-300 text-lg w-11/12">
          <div>
            <font-awesome-icon :icon="['fas', 'play']" class="mx-4" v-if="!playback" v-on:click="play"/>
            <font-awesome-icon :icon="['fas', 'pause']" class="mx-4" v-if="playback" v-on:click="play"/>
            <span>{{ videoTime }} / {{ videoDuration }}</span>
          </div>
          <div class="flex items-center">
            <div class="bg-gray-700 h-2 mr-2 w-16" ref="volumeBar" v-on:click="volumeChange">
              <span class="block bg-orange-600 h-2" v-bind:style="`width: ${ muted ? 0 : volume}%`"></span>
            </div>
            <div class="mr-4" v-on:click="mute">
              <font-awesome-icon :icon="['fas', 'volume-up']" v-if="!muted"/>
              <font-awesome-icon :icon="['fas', 'volume-mute']" v-if="muted"/>
            </div>
            <font-awesome-icon :icon="['fas', 'closed-captioning']" v-bind:class="[cc ? 'text-gray-300' : 'text-gray-700']" v-on:click="toggleCaptions" class="mr-4"/>
            <div v-on:click="fullScreen" class="mr-4">
              <font-awesome-icon :icon="['fas', 'expand-alt']" v-if="!fullScreened"/>
              <font-awesome-icon :icon="['fas', 'compress-alt']" v-if="fullScreened"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-screen-lg mt-4 mx-auto px-4">
      <span v-for="cue in transcript" v-bind:class="{'text-orange-600': activeCue == cue.id}" class="cursor-pointer" v-bind:key="cue.id" v-on:click="seekTranscript(cue)">{{ cue.text }} </span>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      activeCue: 1,
      bufferWidth: 0,
      cc: false,
      controls: false,
      fullScreened: false,
      muted: false,
      playback: false,
      progressWidth: 0,
      publicPath: process.env.BASE_URL,
      transcript: '',
      videoDuration: 0,
      videoTime: '00:00',
      volume: 100
    }
  },
  methods: {
    barPosition: function (bar, event) {
      return event.offsetX / bar.offsetWidth
    },
    buffer: function () {
      const video = this.$refs.video
      if (video.readyState === 4) {
        const currentBuffer = video.buffered.end(0)
        this.bufferWidth = Math.round((currentBuffer / video.duration) * 100)
      }
    },
    convertTime: function (time) {
      const min = Math.floor(time / 60)
      const sec = Math.floor(time % 60)
      return (min < 10 ? '0' : '') + min + ':' + (sec < 10 ? '0' : '') + sec
    },
    duration: function () {
      const video = this.$refs.video
      this.videoDuration = this.convertTime(video.duration)
    },
    fullScreen: function () {
      const video = this.$refs.video
      if (this.fullScreened) {
        document.exitFullscreen()
      } else {
        video.parentElement.requestFullscreen()
      }
      this.fullScreened = !this.fullScreened
    },
    loadTranscript: function () {
      this.transcript = this.$refs.video.textTracks[0].cues
    },
    mute: function () {
      const video = this.$refs.video
      this.muted = !this.muted
      video.muted = this.muted
    },
    play: function () {
      const video = this.$refs.video
      if (this.playback) {
        video.pause()
        this.playback = !this.playback
      } else {
        video.play()
        this.playback = !this.playback
      }
    },
    progress: function () {
      const video = this.$refs.video
      this.progressWidth = ((video.currentTime / video.duration) * 100)
      this.videoTime = this.convertTime(video.currentTime)
    },
    seek: function (event) {
      const bar = this.$refs.bar
      const video = this.$refs.video
      video.currentTime = this.barPosition(bar, event) * video.duration
    },
    seekTranscript: function (cue) {
      const video = this.$refs.video
      video.currentTime = cue.startTime
    },
    setTranscript: function () {
      this.$refs.track.mode = 'hidden'
      this.$refs.video.textTracks[0].mode = 'hidden'
    },
    toggleCaptions: function () {
      const video = this.$refs.video
      if (this.cc) {
        video.textTracks[0].mode = 'hidden'
      } else {
        video.textTracks[0].mode = 'showing'
      }
      this.cc = !this.cc
    },
    updateTranscript: function () {
      const track = this.$refs.track.track.activeCues[0].id
      if (track !== undefined) {
        this.activeCue = track
      }
    },
    volumeChange: function (event) {
      const bar = this.$refs.volumeBar
      const video = this.$refs.video
      video.volume = this.barPosition(bar, event)
      this.volume = this.barPosition(bar, event) * 100
    }
  },
  mounted: function () {
    document.addEventListener('DOMContentLoaded', this.setTranscript())
  },
  name: 'App'
}
</script>

<style></style>
